/* ==========================================================
   RESET
========================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
    background: #eef4ff;
}

#root {
    width: 100%;
    height: 100%;
}

/* ==========================================================
   LAYOUT
========================================================== */

.admin-layout {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.gis-page{
    flex:1;
    margin-left:280px;
    height:100vh;
    padding:20px 28px;
    background:#f6f6f4;
    overflow:hidden;
    box-sizing:border-box;
}

/* ==========================================================
   HEADER
========================================================== */

.gis-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
}

.gis-header-left {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.gis-header-text h1 {
    margin: 0;
    font-size: 58px;
    line-height: 0.95;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 500;
    color: #111;
}

.gis-header-text p {
    margin-top: 10px;
    color: #555;
    font-size: 18px;
}

.gis-title {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.title-icon {
    width: 58px;
    height: 58px;
    border-radius: 10px;
    background: #ff2d2d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    box-shadow: 0 8px 18px rgba(255, 0, 0, .18);
}

.gis-title h1 {

    font-family:
        Impact,
        Haettenschweiler,
        "Arial Narrow Bold",
        sans-serif;

    font-size: 50px;
    font-weight: 400;
    letter-spacing: .5px;
    color: #111;
    line-height: 1;
}

.gis-title p {
    margin-top: 8px;
    color: #555;
    font-size: 15px;
}

.title-icon{
    width:58px;
    height:58px;
    background:#ff2d2d;
    border-radius:6px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.title-icon i{
    color:#fff;
    font-size:30px;
}

/* ==========================================================
   RIGHT HEADER
========================================================== */

.gis-topbar {
    display: flex;
    justify-content: flex-end;
}

.gis-right-info {
    width: 560px;

    display: flex;
    flex-direction: column;

    align-items: flex-end;

    gap: 8px;

    margin-top: -80px;
   
}

.gis-stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gis-stats {
    background: #ff2a2a;
    color: #fff;
    padding: 10px 18px;
    border-radius: 2px;
}




.stat-box {
    background: transparent;
    color: white;
    box-shadow: none;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}


/* ==========================================================
   RED STRIP
========================================================== */

.stats-strip {

    width: 640px;

    height: 38px;

    background: #ff2d2d;

    color: #fff;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 0 29px;

    border-radius: 3px;

}

.stats-strip span {

    font-family:
        Impact,
        Haettenschweiler,
        "Arial Narrow Bold",
        sans-serif;

    font-size: 15px;

    font-weight: 200;

    white-space: nowrap;

}

.stats-strip strong {


    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    

}

/* ==========================================================
   BLACK STRIP
========================================================== */

.category-strip-new {
    width: 640px;
    height: 38px;

    background: #111;
    color: #fff;

    display: flex;
    justify-content: space-between;

    align-items: center;

    padding: 0 64px;
    /* dono side space */
    box-sizing: border-box;

    border-radius: 3px;
}

.category-strip-new span {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #fff;

    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    padding: 12px;

    font-size: 15px;
    font-weight: 200;
    white-space: nowrap;
}

.category-strip-new strong {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
}

/* ==========================================================
   FILTERS
========================================================== */

.gis-filters {
    display: flex;
    gap: 16px;
    margin: 14px 0 18px;
    margin-bottom: -2px;

}

.search-box{
    position:relative;
    width:690px;
    flex:none;
}

.search-box i{
    position:absolute;
    left:16px;
    top:38%;
    transform:translateY(-50%);
    font-size:20px;
    color:#8a8a8a;
    pointer-events:none;
}

.clear-search{

    position:absolute;

    right:18px;

    top:38%;

    transform:translateY(-50%);

    width:28px;
    height:28px;

    display:flex;
    align-items:center;
    justify-content:center;

    border:none;
    background:transparent;

    cursor:pointer;

    font-size:18px;

    color:#888;

    z-index:10;

}

.clear-search:hover{

    color:#ff3b30;

}

.search-box input{
    width:690px;
    padding:0 18px 0 48px;
    height:52px;
    border:1px solid #ddd;
    border-radius:4px;
    font-size:15px;
    box-sizing:border-box;
    outline: none;
}

.gis-filters select {

    width: 240px;
    height: 52px;

    border: 1px solid #ddd;
    font-weight: 600;

    border-radius: 4px;

    background: #fff;

    padding: 0 14px;

    outline: none;

    font-size: 15px;

}

/* ==========================================================
   MAIN GRID
========================================================== */

.gis-content {

    flex: 1;

    display: grid;

    grid-template-columns: minmax(0, 1fr) 380px;

    gap: 18px;

    min-height: 0;

}

.map-section {

    display: flex;

    flex-direction: column;

    min-width: 0;

}

/* ==========================================================
   MAP
========================================================== */

.map {
    width: 100%;
    height: 550px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.leaflet-container {

    width: 100%;

    height: 100%;

    border-radius: 4px;

}

.popup-btn {

    width: 100%;

    height: 34px;

    border: none;

    background: #ff3131;

    color: #fff;

    cursor: pointer;

    border-radius: 4px;

    margin-top: 5px;

    font-weight: 600;

}

.leaflet-popup-content-wrapper{
    padding:0;
    border-radius:8px;
}

.leaflet-popup-content{
    margin:0 !important;
    width:160px !important;
}

.popup-card{

    width:160px;

    padding:10px;

    box-sizing:border-box;

    font-size:11px;

    color:#222;

}

.popup-id{

    font-size:12px;

    font-weight:700;

    white-space:nowrap;      /* ek line me */

    overflow:hidden;

    text-overflow:ellipsis;

    border-bottom:1px solid #eee;

    padding-bottom:5px;

    margin-bottom:6px;

}

.popup-card div{

    margin-bottom:4px;

    word-break:normal;

}




/* ==========================================================
   LEGEND
========================================================== */

.map-legend {

    display: flex;

    align-items: center;

    gap: 28px;

    margin-top: 10px;

    height: 26px;

}

.map-legend div {

    display: flex;

    align-items: center;

    gap: 8px;

    font-size: 13px;

    font-weight: 600;

    color: #222;

}

.legend {

    width: 10px;

    height: 10px;

    border-radius: 50%;

    display: inline-block;

}

.red-dot {

    background: #ef4444;

}

.orange-dot {

    background: #f59e0b;

}

.green-dot {

    background: #22c55e;

}

.grey-dot {

    background: #6b7280;

}

/* ==========================================================
   DETAILS PANEL
========================================================== */

.details-panel{
    background:#fff;
    border:1px solid #ddd;
    border-radius:4px;

    display:flex;
    flex-direction:column;

    height:calc(100vh - 210px);
    padding-bottom: 10px;
    overflow:hidden;
}

.details-panel{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.details-content{
    flex: 1;
    overflow-y: auto;

    padding: 20px;
    padding-bottom: 90px;   /* IMPORTANT */
}

.details-content{
    flex:1;
    overflow-y:auto;
    overflow-x:hidden;

    padding:18px;
    padding-bottom:20px;

    scrollbar-width:none;
    -ms-overflow-style:none;
}

.details-content::-webkit-scrollbar{
    display:none;
}

.details-heading {

    margin-bottom: 16px;

}

.details-heading h2 {

    font-family:

        Impact,

        Haettenschweiler,

        "Arial Narrow Bold",

        sans-serif;

    font-size: 28px;

    font-weight: 400;

    color: #111;

    letter-spacing: .4px;

}

.heading-line {

    width: 42px;

    height: 4px;

    background: #ff3131;

    margin-top: 8px;

}

.detail-row {

    display: flex;

    justify-content: space-between;

    align-items: flex-start;

    gap: 12px;

    padding: 11px 0;

    border-bottom: 1px solid #ececec;

}

.detail-row:last-child {

    border-bottom: none;

}

.detail-row span {

    font-family:

        Impact,

        Haettenschweiler,

        "Arial Narrow Bold",

        sans-serif;

    font-size: 18px;

    font-weight: 400;

    color: #111;

    white-space: nowrap;

}

.detail-row strong {

    flex: 1;

    text-align: right;

    font-size: 15px;

    color: #333;

    font-weight: 600;

    word-break: break-word;

}

/* ==========================================================
   LOCATION
========================================================== */

.location-box {

    margin-top: 16px;

    padding: 12px;

    background: #f8f8f8;

    border-radius: 4px;

}

.location-box h4 {

    font-size: 15px;

    margin-bottom: 8px;

    color: #111;

}

.location-box p {

    font-size: 13px;

    color: #555;

    margin: 4px 0;

}

/* ==========================================================
   ANALYTICS
========================================================== */

.analytics-box {

    margin-top: 16px;

}

.analytics-box h4 {

    font-size: 15px;

    color: #111;

    margin-bottom: 10px;

}

.analytics-grid {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 8px;

}

.analytics-item {

    background: #f7f7f7;

    border-radius: 4px;

    padding: 10px;

}

.analytics-item span {

    display: block;

    font-size: 11px;

    color: #777;

    margin-bottom: 3px;

}

.analytics-item strong {

    font-size: 13px;

    color: #111;

}

/* ==========================================================
   FOOTER
========================================================== */

.details-footer{
    position: sticky;
    bottom: 0;

    margin-top: 20px;      /* Analytics aur button ke beech gap */
    flex-shrink: 0;

    height: 52px;
    width: calc(100% - 32px);

    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;

    background: #111;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 18px;

    border-radius: 4px;

    z-index: 100;
}

/* ==========================================================
   BOTTOM SECTION
========================================================== */

.gis-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    margin-top: 12px;
    height: 180px;
    flex: none;
}

/* ==========================================================
   HOTSPOT + NEARBY CARDS
========================================================== */

.hotspot-card,
.nearby-card {
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 180px;
}

/* ==========================================================
   CARD TITLES
========================================================== */

.hotspot-card h3,
.nearby-card h3 {

    position: relative;

    font-family:
        Impact,
        Haettenschweiler,
        "Arial Narrow Bold",
        sans-serif;

    font-size: 24px;

    font-weight: 400;

    color: #111;

    padding: 16px 20px 14px 36px;

    border-bottom: 1px solid #ececec;

}

.hotspot-card h3::before,
.nearby-card h3::before {

    content: "";

    position: absolute;

    left: 18px;

    top: 15px;

    width: 6px;

    height: 28px;

    background: #ff6600;

}

/* ==========================================================
   HOTSPOT LIST
========================================================== */

.hotspot-item {

    width: 100%;

    box-sizing: border-box;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 12px 18px;

    border-bottom: 1px solid #eeeeee;

    transition: .2s;

    cursor: pointer;

}

.hotspot-card {

    padding: 0;

}

.hotspot-card h3 {

    margin: 0;

}
.hotspot-item:last-child {

    border-bottom: none;

}

.hotspot-item:hover {

    background: #fafafa;

}

.hotspot-item span:first-child {

    font-size: 14px;

    color: #222;

    font-weight: 600;

}

.hotspot-item span:last-child {

    font-size: 13px;

    font-weight: 700;

}

.hotspot-item.danger span:last-child {

    color: #ef4444;

}

.hotspot-item.warning span:last-child {

    color: #f59e0b;

}

/* ==========================================================
   NEARBY LIST
========================================================== */

.hotspot-row {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 12px 18px;

    border-bottom: 1px solid #eeeeee;

}

.hotspot-row:last-child {

    border-bottom: none;

}

.hotspot-row strong {

    display: block;

    font-size: 14px;

    color: #111;

}

.hotspot-row div div {

    font-size: 11px;

    color: #777;

    margin-top: 2px;

}

.hotspot-row span {

    font-size: 13px;

    font-weight: 700;

}
.nearby-card p{
    margin:18px 20px;
    font-size:15px;
    color:#555;
}

/* ==========================================================
   STATUS COLORS
========================================================== */

.red {

    color: #ef4444;

}

.orange {

    color: #f59e0b;

}

.green {

    color: #22c55e;

}

.grey {

    color: #6b7280;

}

/* ==========================================================
   IMAGE
========================================================== */

.gis-photo {

    margin-top: 14px;

}

.gis-photo img {

    width: 100%;

    height: 170px;

    object-fit: cover;

    border-radius: 4px;

}

/* ==========================================================
   OVERFLOW FIX
========================================================== */

img {

    max-width: 100%;

}

button {

    font-family: inherit;

}

input,
select {

    font-family: inherit;

}

.hotspot-card,
.nearby-card,
.details-panel {

    min-width: 0;

}

.map-section {

    min-width: 0;

}

.gis-page * {

    max-width: 100%;

}

/* ==========================================================
   RESPONSIVE
========================================================== */

@media (max-width:1600px) {

    .gis-title h1 {

        font-size: 44px;

    }

    .stats-strip {

        width: 560px;

    }

    .category-strip-new {

        width: 640px;

    }

    .gis-content {

        grid-template-columns: minmax(0, 1fr) 350px;

    }

}

@media (max-width:1400px) {

    .gis-title h1 {

        font-size: 40px;

    }

    .stats-strip {

        width: 500px;

        font-size: 15px;

    }

    .category-strip-new {

        width: 400px;

    }

    .gis-filters input {

        width: 390px;

    }

    .gis-filters select {

        width: 180px;

    }

}

.hotspot-row{
    cursor:pointer;
    transition:.25s;
}

.hotspot-row:hover{

    background:#f5f5f5;

}

.hotspot-item{

    cursor:pointer;
    transition:.25s;

}

.hotspot-item:hover{

    background:#fff3eb;

}
.active-row{

    background:#eef4ff;

    border-left:4px solid #2563eb;

}

.active-hotspot{

    background:#fff2e8;

    border-left:4px solid #ff6b00;

}

.hotspot-row{

    transition:.25s;

}

.hotspot-item{

    transition:.25s;

}
.details-panel select{

    width:160px;

    height:36px;

    border:1px solid #ddd;

    border-radius:4px;

    padding:0 10px;

    background:#fff;

}